.titulo-principal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}

.principal{
    background-color: rgb(165, 165, 165);
    padding: 20px;
}

.titulos-centralizados{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color: brown;
}

#mision{
    font-size: 25px;
}

.diferenciales{
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}
